.container-detalhes-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  margin-top: 10%;
  margin-bottom: 16%;

  gap: 50px;
}

.detalhes-pagina {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 327px;
  height: 724px;

  text-align: center;

  margin-bottom: 16%;
}

.detalhes-pagina h1 {
  color: var(--laranja);
}

.detalhes-pagina h3 {
  line-height: 40px;
}

.detalhes-pagina p {
  padding: 0 5px 0 5px;
}



.imagem-detalhes-pagina {
  display: block;
  max-width: 327px;
  min-height: 352px;
  object-fit: contain;
  border: none;
  opacity: 100%;
}


.container-sobre-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
