.container-detalhes-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 100%;
  margin-top: 10%;

  gap: 150px;

}

.detalhes-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 327px;
  height: 100%;

  text-align: start;
}

.container-detalhes-pagina h1 {
  color: var(--laranja);
}

.detalhes-pagina h3 {
  line-height: 40px;
}

.detalhes-pagina p {
  opacity: 50%;
  line-height: 25px;
  padding: 0 5px 0 0;
}

.imagem-detalhes-pagina {
  display: block;
  max-width: 327px;
  min-height: 352px;
  object-fit: contain;
  border: none;
}

.compra-detalhes-produto {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  gap: 10px;

  margin-top: 5%;
  margin-bottom: 10%;
}

.detalhes-produto-qtd {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 120px;
  min-height: 48px;
  gap: 10px;

  background-color: var(--cinza-escuro);
}

.detalhes-pagina ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 100%;

  gap: 10px;
}

.detalhes-pagina ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.detalhes-span-qtd{
  color: var(--laranja);
}

.detalhes-pagina span{
  opacity: 50%;
  line-height: 25px;

}

.container-categorias-2-detalhes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}

.container-sobre-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}
