.FormularioEndereco{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 85%;
    margin: 5%;

    gap: 10px;

    font-size: var(--font-size-overline);

}

.FormularioEndereco button{
    margin-top: 5%;
}

.itens-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;

    gap: 5px;
}

.itens-form input{
    width: 100%;
    border-bottom: 1px solid gray;
}

