.container-usuario-enderecos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  
    width: 90%; 
    
}

.lista-usuario-enderecos{
    margin-bottom: 10%;
}
.voltar-finalizar-compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    width: 100%;

    padding: 10px 10px 0 0;
}


.container-usuario-enderecos a{
    margin: 0 auto;
    width: 90%;
}

