.container-usuario-enderecos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  
    width: 100%;    
}

.container-usuario-enderecos button{
    width: 90%;
    margin: 0 auto;
}

