.FormularioEndereco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 85%;
    height: 100%;
    margin: 5%;

    gap: 10px;

    font-size: var(--font-size-overline);

}

.FormularioEndereco h6{
    
    margin: 15% auto;
}




.itens-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;

    gap: 5px;
}

.itens-form input{
    width: 100%;
    border-bottom: 1px solid gray;
}

.itens-form-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50%;

    gap: 10px;

    
}

.itens-form-footer button {
    width: 90%;
}
.itens-form-footer span{
    height: 50px;
}

