.container-produtos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;

  margin-top: 16%;
  margin-bottom: 16%;

  gap: 70px;
}

.container-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 60px;

  z-index: 1;
}

.produto-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 165px;

  color: black;
  text-align: center;

  background-color: var(--cinza-escuro);

  position: relative;

  border-radius: 10px;
}

.home-container-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 10px;
}

.home-titulo-categoria {
  font-size: var(--font-size-body);
  font-weight: bold;
}

.imagens-categoria {
  display: block;
  max-width: 79.92%;
  height: 104px;
  object-fit: contain;
  border: none;
  opacity: 100%;

  position: absolute;
  top: -50px;
}

.container-destaques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 60px;
}

.destaques-produtos-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 327px;
  height: 600px;

  color: var(--branco);
  text-align: center;

  background-color: var(--laranja);

  z-index: 0;
  overflow: hidden;

  border-radius: 10px;
}

.container-efeito {
  position: relative;
  z-index: -1;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 10px;
}

.imagens-destaques {
  display: block;
  max-width: 172.25%;
  height: 207px;
  object-fit: contain;
  border: none;
  opacity: 100%;
  position: relative;
  z-index: 1;

  margin-bottom: 10%;
}

.container-efeito h2 {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.circulo-1 {
  width: 279px;
  height: 279px;
  border: 1px solid var(--cinza-escuro);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.circulo-2 {
  width: 320px;
  height: 320px;
  border: 1px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.circulo-3 {
  width: 558px;
  height: 558px;
  border: 1px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.destaques-produtos-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 327px;
  height: 320px;

  padding: 20px 20px 60px 20px;

  color: var(--preto);
  background-color: var(--cinza-escuro);

  background-image: url("https://www.dropbox.com/scl/fi/wi8zolt2mb6se7p2qhn5t/image-speaker-zx7.jpg?rlkey=hpxt64artzghmkmcdpjssa70t&raw=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 10px;
}

.destaques-produtos-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 327px;
  height: 424px;

  border-radius: 10px;

  gap: 20px;
}

.destaques-3-cima {
  width: 327px;
  height: 200px;

  background-image: url("https://www.dropbox.com/scl/fi/16rptdsbo9wc79dlswpwy/image-earphones-yx1.jpg?rlkey=hhcc15fzk0fl3e57x7z5l35e5&raw=1");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  border-radius: 10px;
}

.destaques-3-baixo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 327px;
  height: 200px;

  background-color: var(--cinza-escuro);

  border-radius: 10px;

  padding: 20px;
}

.home-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 698px;
  border-radius: 10px;

  text-align: center;
}

.home-sobre-fundo {
  width: 327px;
  height: 300px;

  background-image: url("https://www.dropbox.com/scl/fi/j36snmj53d1efj9t3bc0g/image-best-gear.jpg?rlkey=gol61xzf2v0rkljpu8tf0mnf4&raw=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-sobre h2{
  font-size: var(--font-size-h2-28);
}


.home-sobre-cor{
  color: var(--laranja);
}
