.container-produtos-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;  
  margin-bottom: 16%;

  gap: 50px;
}

.produto-pagina {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 327px;
  height: 724px;

  text-align: center;

  margin-bottom: 16%;
}

.produto-pagina h1 {
  color: var(--laranja);
}

.produto-pagina h3 {
  line-height: 40px;
}

.produto-pagina p {
  padding: 0 5px 0 5px;
}



.imagem-produto-pagina {
  display: block;
  max-width: 327px;
  min-height: 352px;
  object-fit: contain;
  border: none;
  opacity: 100%;
}

.container-titulo-categorias{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 120px;
  width: 100vw;
  color: var(--branco);
  background-color: var(--preto); 
}


.container-sobre-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
