@media (max-width: 767px) {
    .menu-navegacao {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  
      width: 100%;
      margin-top: 5%;
      padding-bottom: 6%; 
      
      border-bottom: 1px solid var(--vinte);
      

      
    }
  
    .menu-pagina {
      display: none;
      flex-direction: row;
      justify-content: center;

      padding-top: 10%;
      
  
      width: 50%;
      height: 100vh; 
      position: absolute; 
      top: 0;
      left: 0;
  
      background-color: white;
      color: black;
    }
  
    .hamburguer div {      
      width: 25px; 
      height: 5px;
      margin-bottom: 3px;     
      background-color: white;
    }
  }
  