
.produto-componente {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    width: 327px;
    height: 724px;
  
    text-align: center;
  
  }
  

  .produto-componente h3 {
    padding: 10px;
    line-height: 40px;
    
  }
 
 
  .imagem-produto-componente {
    display: block;
    max-width: 327px;
    min-height: 352px;
    object-fit: contain;
    border: none;
    opacity: 100%;
  
  
  }