.container-geral {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  width: 100vw;

}

.header {
  grid-row: 1;  
}

.layout {
  grid-row: 2;
}

.footer {
  grid-row: 3;
  background-color: var(--preto-fosco);
}
